body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}

.navbar button {
    border: none;
    background-color: white;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 20px;
}

.main {
    display: flex;
    flex-direction: row;
}

.prev-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
}

.new-chat-button {
    background-color: #034174;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 94%;
    padding-left: 3%;
    padding-block: 3%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.other-chats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 94%;
    padding: 3%;
  }

.chat-group {
    margin-bottom: 10px;
    width: 100%;
}

.chat-group-title {
    align-self: flex-end;
    color: #797979;
}

.chat-link {
    border: none;
    background-color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
    margin-top: 5px;
    color: #797979;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.chat-link:hover {
    background-color: #D9D9D9;
    text-decoration: underline;
  }
  

.profile-box {
    display: flex;
    align-items: center;
    margin-top: auto;
    width: 94%;
    padding: 3%;
    border: 1px solid #E0E0E0;
    border-right: none;
}
  
.circle-initial {
    width: 50px;
    height: 50px;
    background-color: #0360AE;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.text-full-name {
    margin-left: 10px;
    font-size: 16px;
}

.chatbot {
    margin-left: auto;
    background-color: #F0F0F0;
    padding: 20px;
    border: 1px solid #E0E0E0;
    border-top: none;
    height: 40vw;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.chat-history {
    overflow-y: auto;
    max-height: 80rem;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
    height: 90%;
}

.inquery.user {
    text-align: left;
    background-color: #034174;
    color: white;
    border-radius: 25px 25px 0px 25px;
    padding: 10px;
    margin-bottom: 10px;
    width: 40%;
    min-height: 10%;
    margin-left: auto;
}

.response.bert {
    text-align: left;
    background-color: #FFFFFF;
    color: black;
    border-radius: 25px 25px 25px 0px;
    padding: 10px;
    margin-bottom: 10px;
    width: 40%;
    min-height: 10%;
    margin-right: auto;
}

.good-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.bad-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.good-button:hover, .bad-button:hover {
    opacity: 0.8;
}

.message.chatbot {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 40%;
    align-self: flex-end;
}

.message-input {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 7%;
    padding: 10px;
}

.message-input input {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #474747;
    padding: 0;
    outline: none;
}

.message-input input::placeholder {
    color: #474747;
    opacity: 0.6;
}

.message-input button {
    background-color: #034174;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.LM-logo {
    height: 30px;
}