<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://kit.fontawesome.com/d4eb6d76de.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav>
        <div class="navbar">
            <img id="lockheed-martin-logo" class="LM-logo" src="{{ url_for('static', filename='images/LM-logo.png')}}">
            <a class="upload link" href="{{ url_for('upload') }}">
                <span class="upload-title">Upload</span>
                <i class="fa-solid fa-file-arrow-up"></i>
            </a>
            <a class="about-us link" href="{{ url_for('about') }}">
                <span class="upload-title">About Us</span>
                <i class="fa-regular fa-circle-question"></i>
            </a>
        </div>
    </nav>

    <main class="main">
        <div class="prev-chat">
            <button class="new-chat-button" onclick="createNewChat()">New Chat</button>
            <div class="other-chats">
                <div class="chat-group">
                    <div class="chat-group-title" id="chat-group-today">Today</div>
                    <a class="chat-link {% if chatbox_id == 1 %}active-chat{% endif %}" href="{{ url_for('chatbox', chatbox_id=1) }}">chat1
                        <!-- <span class="chat-title">chat1</span>
                        <i class="fa-regular fa-trash-can"></i> -->
                    </a>
                    <a class="chat-link {% if chatbox_id == 2 %}active-chat{% endif %}" href="{{ url_for('chatbox', chatbox_id=2) }}">chat2</a>
                    <a class="chat-link {% if chatbox_id == 3 %}active-chat{% endif %}" href="{{ url_for('chatbox', chatbox_id=3) }}">chat3</a>
                </div>
                <div class="chat-group">
                    <div class="chat-group-title" id="chat-group-yesterday">Yesterday</div>
                    <a class="chat-link {% if chatbox_id == 4 %}active-chat{% endif %}" href="{{ url_for('chatbox', chatbox_id=4) }}">chat4</a>
                    <a class="chat-link {% if chatbox_id == 5 %}active-chat{% endif %}" href="{{ url_for('chatbox', chatbox_id=5) }}">chat5</a>
                    <a class="chat-link {% if chatbox_id == 6 %}active-chat{% endif %}" href="{{ url_for('chatbox', chatbox_id=6) }}">chat6</a>
                </div>
            </div>
            <div class="profile-box">
                <div class="circle-initial">CC</div>
                <div class="text-full-name">Caleb Canales</div>
            </div>
        </div>
        <div class="chatbot">
            {% block chatbox %}
            <i class="fa-solid fa-atom fa-10x"></i>
            {% endblock %}
        </div>
    </main>

    <script>
        function createNewChat() {
            var chatGroupToday = document.getElementById('chat-group-today');

            var newChatLink = document.createElement('a');
            newChatLink.className = "chat-link {% if chatbox_id == 7 %}active-chat{% endif %}";
            newChatLink.href = "{{ url_for('chatbox', chatbox_id=7) }}";
            newChatLink.textContent = 'chat7';

            chatGroupToday.parentNode.appendChild(newChatLink);
        }

        function sendMessage() {
            var userMessage = document.getElementById('user-input').value;
            if (userMessage.trim() === '') return;

            var chatHistory = document.getElementById('chat-history');
            var inqueryUSER = document.createElement('div');
            inqueryUSER.className = 'inquery user';
            inqueryUSER.textContent = userMessage;
            chatHistory.appendChild(inqueryUSER);

            fetch('/api/elastic_search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ user_input: userMessage })
            })
            .then(response => response.json())
            .then(data => {
                var dataIndex = 0;
                var chatHistory = document.getElementById('chat-history');
                var responseBERT = document.createElement('div');
                responseBERT.className = 'response bert';
                responseBERT.textContent = data["0"];
                chatHistory.appendChild(responseBERT);
    
                var ratingButtons = document.createElement('div');
                ratingButtons.className = 'rating-buttons';
    
                var goodButton = document.createElement('button');
                goodButton.textContent = 'Good';
                goodButton.className = 'good-button';
                goodButton.onclick = function () {
                    console.log('good');
                };
    
                var badButton = document.createElement('button');
                badButton.textContent = 'Bad';
                badButton.className = 'bad-button';
                badButton.onclick = function () {
                    dataIndex++;
                    if (data[dataIndex]) {
                        responseBERT.textContent = data[dataIndex];
                    } else {
                        responseBERT.textContent = "No more responses available.";
                    }
                };
    
                ratingButtons.appendChild(goodButton);
                ratingButtons.appendChild(badButton);
                chatHistory.appendChild(ratingButtons);
                document.getElementById('user-input').value = '';
            });
        }

        document.getElementById('user-input').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });
    </script>
</body>
</html>

